
.aside {
    padding: 15px 0px 15px 0px;
    border-radius: 10px;
    background-color: #15647065;
}
.presentazione{
    line-height: 1;
}
.presentazione li{
    padding-left:1%;
}


.div-presentazione{
    border-radius: 15px;
    padding: 20px 50px;
    background-color: white;
}

.presentazione,p{
    font-size: 1.25rem;
}

.aside ul li {
    padding: 10px 0;
    display: block;

}

.aside ul li a {
    text-decoration: none;
    align-items: start;
}

.aside ul li .link {
    text-transform: capitalize;
    color: black;
    font-weight: 400;
    font-size: 1.3rem;
}



