 /*  HEADER */
.header{
  background-color:#156470;
  margin-bottom:5%;
}
.navbar{
  background-color:#156470;
}
/*#445cac;#3670bb; #156470 #1e4880;*/

.container-fluid{
  padding:0  !important;
}
.navbar a{
  color:white;
}

.dropdown-menu{
  max-width: 100px;
  transition: all 4s;
}
.dropdown-menu a{
  color:black;
  text-transform: capitalize;
}

.btn-secondary{
  background: orange;
}

li{
  padding-left: 20px;
}

/*   img
 border-radius: 114px
 
 
 card 
 border: 7px solid
 border-radio: 20px
 width: 16rem
 */

hr{
  margin:0;
  opacity:.5;
}
hr:not([size]) {
  height: 5px;
}

h1{
  font-family: 'Bree Serif', serif;
  line-height:200%;
  letter-spacing:5px;
}
 
.card{
  vertical-align:middle;
  display:inline-block;
  margin: 5% 2%;
  width: 14rem;
}

footer{
  margin-top: 50px;
}


#login_button{
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  display: block;
  margin: 30px auto;
  width: 30%;
}

#register_button{
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  width: 25%;
}

@media (min-width: 1025px) {
.h-custom {
height: 100vh !important;
}
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
font-size: 1rem;
line-height: 2.15;
padding-left: .75em;
padding-right: .75em;
}

.card-registration .select-arrow {
top: 13px;
}

.bg-grey {
background-color: #eae8e8;
}

@media (min-width: 992px) {
.card-registration-2 .bg-grey {
border-top-right-radius: 16px;
border-bottom-right-radius: 16px;
}
}

@media (max-width: 991px) {
.card-registration-2 .bg-grey {
border-bottom-left-radius: 16px;
border-bottom-right-radius: 16px;
}
}



/* Home */


.body{
  background-color:#eee;
  overflow:hidden;
  overflow-y:visible;
}

.img1{
  max-width: calc(100vw);
}

.text .btn-main .btn{
padding: 0.5rem 3.75rem;
display: block;
border-radius: 30px;
background: orange;
transition: all .4s;
}

.text .btn-main .btn:hover{
transform: translateY(-3px);
box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

.text .btn-main .btn:active{
transform: translateY(-1px);
box-shadow: 0 5px 10px rgba(0,0,0,.6);
}

.img2{
width:calc(100%);
border: 20px solid white;
border-radius: 40px;
}