.aside {
    padding: 15px 0px 15px 0px;
    border-radius: 10px;
    background-color: #156470;
}
.aside .h4 {
    font-weight: 500;
    padding-left: 15px;
}

.aside ul {
    list-style: none;
    margin: 0;
    padding-left: 0rem;
}

.aside ul li {
    padding: 10px 0;
    display: block;
    padding-left: 1rem;
    padding-right: 1rem;
    border-left: 5px solid transparent;
}
.aside ul li a{
    text-decoration: none;
    align-items: start;
}

.aside ul li.active {
    border-left: 5px solid #0d6efd;
    background-color: #0d434be0;
}

.bi {
    font-size: 1.3rem;
    color:white;
}


.aside ul li a .link {
    color: #fff;
    font-weight: 500;
    font-size: 1.3rem;
}

.aside ul li a .link:hover{
    color: tomato;
    transition: all .2s;
}
.aside ul li a:hover{
    padding: 1%;
    transition: all .2s;
}



.main-content {
    padding: 30px;
    border-radius: 15px;
    background:white;
}

.main-content .h5,
.main-content .text-uppercase {
    font-weight: 600;
    margin-bottom: 0
}


.main-content .box {
    padding: 10px;
    border-radius: 6px;
    width: 250px;
    height: 90px;
}

.main-content .box img {
    width: 40px;
    height: 40px;
}

.main-content .box .tag {
    font-size: 0.9rem;
    color: #000;
    font-weight: 500
}

.main-content .box .number {
    font-weight: 500
}

.order .btn.btn-primary:hover {
    background-color: white;
    color: #0d6efd;
}

.bg-light {
    background-color: #f0ecec !important
}

.order {
    padding: 10px 30px;
}

.order .order-summary {
    height: 100%;
    margin-bottom:10px;
}

.order .status {
    font-weight: 600
}

.order .blue-label {
    background-color: #aeaeeb;
    color: #0d6efd;
    font-size: 0.9rem;
    padding: 0px 3px
}

.info{
    color: grey;
    font-size: 0.8rem;
}